<%- include('./partials/header.ejs')%>
    <main>
        <div id="content">
            <h1>About Us</h1>
            <p>SWFU was founded in September of 2022 by Lily Gross, a Star Wars fan her entire life who wanted to share her love of the content with others.</p>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>