<%- include('./partials/header.ejs')%>
        <div id="content">
            <h1>Contact Us!</h1>
            <p>E-Mail: swfu@aol.com</p>
            <p>Phone: 928-394-2948</p> <!--Please don't actually call this number I have no clue where it goes-->
        </div>
    </main>
<%- include('./partials/footer.ejs')%>