<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/default.css" type="text/css">
        <link rel="stylesheet" href="/fonts/SFDistantGalaxy.ttf">
        <link rel="stylesheet" href="/fonts/Aurebesh.otf">
        <title>Star Wars Fans United</title>
    </head>
    <body>
        <header class="header">
            <a href="/"><img class="logo" src="/images/StarWars.png"></a>
            <h1 class="title">Star Wars Fans United</h1>
            <nav class="links">
                <a href="/connections/new">New Connection</a>
                <a href="/connections">Connections</a>
                <%if(!user) {%>
                    <a href="/users/login">Login</a>
                    <a href="/users/new">Sign Up</a>
                <%} else {%>
                    <a href="/users/profile">Profile</a>
                    <a href="/users/logout">Log Out</a>
                <%}%>
            </nav>
        </header>