<%- include('../partials/header.ejs')%>
        <main>
            <div class="content">
                <h1>Edit Connection</h1>
                <form id="edit" action="/connections/<%=connection.id%>?_method=PUT" method="POST">
                    <div id="form-content">
                        <label for="type">Event Topic: <input type="text" id="type"></label><br><br>
                        <label for="title">Event Title: <input type="text" id="title"></label><br><br>
                        <label for="hostname">Event Host: <input type="text" id="host"></label><br><br>
                        <label for="details">Event Details: <input type="text" id="details"></label><br><br>
                        <label for="date">Event Date: <input type="date" id="date"></label><br><br>
                        <label for="startTime">Event Start Time: <input type="time" id="time"></label><br><br>
                        <label for="endTime">Event Start Time: <input type="time" id="time"></label><br><br>
                    </div>

                    <a href="/connections/<%=connection.id%>"><button type="button" id="create">Submit</button></a>
                </form>
            </div>
        </main>
<%- include('../partials/footer.ejs')%>