<%- include('../partials/header.ejs')%>
            <div class="content">
                <h1>Create a New Event</h1>
                <form id="new" action="/connections" method="POST">
                    <label for="topic">Event Topic: <select type="text" name="topic" id="topic" required>
                        <option value="Galactic Republic Lore">Galactic Republic Lore</option>
                        <option value="Sith Lore">Sith Lore</option></select>
                    </label><br><br>
                    <label for="title">Event Title: <input type="text" id="title" name="title" required></label><br><br>
                    <label for="details">Event Details: <input type="text" id="details" name="details" required minlength="25"></label><br><br>
                    <label for="date">Event Date: <input type="date" id="date" name="date" placeholder="MM-DD-YYYY" required></label><br><br>
                    <label for="startTime">Event Start Time: <input type="time" id="time" name="startTime" placeholder="HH:MM{AM, am, PM, pm}" required></label><br><br>
                    <label for="endTime">Event End Time: <input type="time" id="time" name="endTime" placeholder="HH:MM{AM, am, PM, pm}" required></label><br><br>
                    <label for="image">Image URL: <input type="url" name="image" id="image" name="image" required></label><br><br>

                    <button type="submit" id="create" formmethod="POST" formaction="/connections">Create Event</button>
                </form>
            </div>
        </main>
<%- include('../partials/footer.ejs')%>